#local .env configuration

environment=Development
agent_endpoint=https://YOUR-RESOURCE.openai.azure.com/
agent_deployment_name=o4-mini

# ApiKey is not included in the .env file for security reasons, but you can set it in your local environment variables or use Azure Key Vault to store it securely.


# This would be the docker copmpose configuration to use secrets/key value - deployment with Azure
# version: "3.9"
#
# services:
#  agentapi-minimal:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - "8080:8080"
#    environment:
#      ASPNETCORE_ENVIRONMENT: Production
#      KeyVaultUri: ${keyvault_uri}

# and .env file
# keyvault_uri=https://YOUR-KEYVAULT-NAME.vault.azure.net/

# This would be the configuration of secrets in Key Value: stardard way to store secrets in Azure, and then reference them in the application configuration.
# configuration["AzureOpenAI:ApiKey"]
# configuration["AzureOpenAI:Endpoint"]
# configuration["AzureOpenAI:DeploymentName"]